body {
    background-color: black;
    padding: 50px;
}

.container {
    background-color: white;
    width: 600px;
    margin: auto;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}

.left div {
    padding: 0 5px;
}

.header i {
    font-size: 2.5rem;
}

.center img {
    width: 600px;
}

.controls {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.controls i {
    font-size: 1.5rem;
}

.controls .left i {
    padding-right: 5px;
}